<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文件审批</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./css/site.css" />
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-colps">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{appname}}管理系统</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-colps">
                    <ul class="nav navbar-nav">
                        <li><a href="#" @click="listView">审批</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <!-- 头部错误框 -->
            <div class="alert alert-info" v-if="msg != ''">{{msg}} - <a class="act-text" @click="clearMsg">关闭</a></div>
            <div class="alert alert-warning" v-if="warnmsg != ''">{{warnmsg}} - <a class="act-text" @click="clearWarn">关闭</a></div>
            <div class="alert alert-danger" v-if="errmsg != ''">{{errmsg}} - <a class="act-text" @click="clearErr">关闭</a></div>
            
            <!-- 待审核文件列表 -->
            <div v-if="view == 'list'" class='form-area'>
                <!-- 若空间不为空 -->
                <div class='alert alert-info' v-if='fileEntries != null'>
                    <h3>仍有文件需要审核</h3>
                    <a @click='changeMoto' id='moto' href='#' style='text-decoration: none;'>一寸光阴一寸金，寸金难买寸光阴</a>
                </div>
                <table v-if="fileEntries != null" class="file-list">
                    
                    <tr class="file-list-head">
                        <td><div class="filenm">文件名</div></td>
                        <td style="width:5em;" class='filefmt'><div >文件格式</div></td>
                        <td style="width:6em;" class="filesz"><div >文件大小</div></td>
                        <!-- <td style="width:5em;" class= 'filead'><div>审核状态</div></td>这个需要暴露给用户么？ -->
                        <td style="width:6em;" class="option"><div>操作</div></td><!--如果修改成图标这里也要改小-->
                    </tr>
                    <tr v-for="entry in fileEntries" :key="entry.id" class="file-list-row">
                        <!-- <td><img :src="'img/' + entry.type + '.bmp'" height="1.5em" width="1.5em"/>{{entry.name}}</td> -->
                        <td><a href="#" class='file-link' @click='previewWnd(entry)'>{{entry.name}}</a></td>
                        <td class="filefmt">{{entry.type}}</td>
                        <td class="filesz">{{entry.size}}</td>
                        <!-- <td class="filead">{{entry.audit}}</td> -->
                        <td >
                            <span class='controller'>
                                <a href='#' class='glyphicon glyphicon-info-sign' @click="previewWnd(entry)"></a>
                                <!-- <a href='#' class="glyphicon glyphicon-floppy-remove" @click="rmitem(entry.sid)"></a> -->
                                <a href='#' class="glyphicon glyphicon-ok" @click="vryf(entry.sid,'P')"></a>
                                <a href='#' class='glyphicon glyphicon-ban-circle' @click="vryf(entry.sid,'D')"></a>
                            </span>
                        </td>
                    </tr>
                </table>
                <!-- 空间为空时的处理 -->
                <div v-else class="alert alert-info">
                    <h3>已经没有待审核文件了</h3>
                    <p title='太阳出来我晒太阳，月亮出来我晒月亮咯～'>偷得浮生半日闲</p>
                </div>
            </div>
            
            <!-- 图像预览 -->
            <div v-if="view == 'imgpreview'">
                <div class="form-area">
                    <h3>{{viewPara.name}}</h3>
                    <hr />
                    文件大小：{{viewPara.size}} 创建日期：{{viewPara.date}} <button type="button" class='btn btn-success' @click='vryf(viewPara.id,"P")'>通过</button><button type="button" class='btn btn-danger' @click='vryf(viewPara.id,"D")'>删去</button><br />
                    <!-- <input type='text' v-model='fileRename' placeholder="输入新文件名" style='max-width: 34em; width: 40%' class="form-control show-inline" /> -->
                    <!-- <button type="button" class='btn btn-primary' @click='rnf(viewPara.id)'>重命名</button> -->
                    <button type="button" class="btn btn-secondary" @click="listView">返回</button>
                    <div class="center-block" v-if="viewPara.format == 'jpg' || viewPara.format == 'png' || viewPara.format == 'gif' || viewPara.format == 'jpeg' || viewPara.format == 'bmp'">
                        <img :src="viewPara.uri" alt="一幅图像，它是你所选择之图像的预览" style="max-width: 100%; margin: 0 auto;" />
                    </div>
                    <div class="center-block text-danger" v-else style="font-size:x-large;">图像预览不可用</div>
                    <hr />
                    <button type="button" class="btn btn-secondary" @click="listView">返回</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/admin.js"></script>
</body>
</html>